* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar div {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.navlinks ul {
  display: flex;
}

.navlinks ul li {
  list-style-type: none;
  margin-left: 20px;
}

.navlinks a {
  text-decoration: none;
  color: #302f2f;
}

section {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 60px;
}

.bannersec {
  display: flex;
  height: auto;
}

.bigimg img {
  width: 210%;
  height: 77%;
}

.gallery p {
  font-size: 20px;
  padding-left: 300px;
}

.col3 {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto;
  margin-right: 20px;
  margin-left: 280px;
}

.col3 img {
  margin-left: 10px;
  width: 90%;
  height: 95%;
}

.fourcol {
  margin-top: -100px;
}

.fourcol p {
  font-size: 20px;
  padding-bottom: 10px;
}

.col4img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 10px;
}

.col4img img {
  width: 31.7%;
}
